@import url(https://realtechnerd.github.io/button.css/style.css);
* {
    outline: none;
}
body {
    background: url(https://cdn.shopify.com/s/files/1/0100/6082/products/alps-dolomites-4k-thumb_2048x2048.jpg?v=1567313861) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .background-red {
    background-color: red;
  }
  
  .background-blue {
    background-color: blue;
  }
@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  }
.timebody {
    padding: 15px;
    font-family: Product Sans;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card {
    background-color: rgba(0,0,0,0.75) !important;
    color: #f1f1f1;
    backdrop-filter: blur(10px);
}
.timetext {
    font-size: 50pt;
}
.footer {
    margin-bottom: 0px;
    font-family: Product Sans;
    background-color: rgba(0,0,0,0.75) !important;
    color: #f1f1f1;
    backdrop-filter: blur(10px);
}
.nav-link {
    color: #f1f1f1;
    cursor: pointer;
}
.nav-link:hover {
    color: #f1f1f1;
}
.package-json:hover {
    color: #f1f1f1;
    cursor: default;
}
.settingsbutton {
    background-color: transparent;
    border: none;
}
.special_modal .modal-content{
    background-color: rgba(0,0,0,0.75);
    backdrop-filter: blur(15px);
    color: #d3d3d3;
    font-family: Product Sans;
 }
.settings {
    font-family: Product Sans;
}