body {
  background: url(https://cdn.shopify.com/s/files/1/0100/6082/products/alps-dolomites-4k-thumb_2048x2048.jpg?v=1567313861) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}